@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.calculator{
    background-color: #EEF5DB;
    border-radius: 30px;  
}

.lcd{
    background-color: #C7EFCF;
    width: 90vh;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.computing-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

.cal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0B67F;
    border-radius: 35px;
}

.button-container div{
    border: 1px solid #FE5F55;
    border-radius: 100px;
    padding: 50px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.button-container div:active{
    background-color: #FE5F55;
}

.clear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}